/*----general----*/

body {
    font-family: IBM Plex Sans;
    background-color: #fff;
    line-height: 1.5em;
}

.container {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0px 30px;
}

.section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.background--gray {
    background-color: #EDEDED;
    z-index: -2;
}

.background--green {
    background-color: #CAD3BD;
    z-index: -2;
}

.background--white--fixed {
    background-color: #FFFFFF;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 230px;
    left: 0px;
    z-index: -1;
    border-radius: 0 75px 0 0;
}

.background--white--absolute {
    background-color: #FFFFFF;
    min-height: 95%;
    width: 100%;
    height: auto;
    position: absolute;
    top: 30%;
    left: 0px;
    z-index: -1;
    border-radius: 0 75px 0 0;
}

.background--white--detail {
    background-color: #FFFFFF;
    min-height: 95%;
    max-height: 100%;
    width: 100%;
    height: auto;
    position: absolute;
    top: 185px;
    left: 0px;
    z-index: -1;
    border-radius: 0 75px 0 0;
}

.bg {
    width: 270px;
    height: auto;
    position: fixed;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    text-align: center;
}

/*----headings----*/

p {
    color: #9B9B9B;
    line-height: 24px;
    padding-bottom: 30px;
}

h1 {
    font-family: Karla;
    font-weight: bold;
    font-size: 28px;
    color: #212C20;
    padding-bottom: 22px;
    line-height: 1.2em;
}

h2 {
    font-family: Karla;
    font-size: 20px;
    padding-bottom: 10px;  
}

h3 {
    font-family: Karla;
    font-size: 17px;
    padding-bottom: 10px;
}

#home {
    font-size: 24px;
    line-height: 28px;
}

.account {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
}

.back p {
    color: #212C20;
    font-size: 12px;
}

/*----raster-groenten----*/

.raster {
    padding-top: 30px;
    padding-bottom: 30px;
}
.raster--image {
    display: block;
    max-width: 100%;
    align-content: center;
    width: 50%;
    margin-left: 90px;
    margin-right: auto;
}

/*----form----*/
.form {

}

.form__input {
    font-family: IBM Plex Sans;
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 16px;
    border-radius: 16px;
    border: none;
    background-color: #F5F5F5;
    color: #9B9B9B;
    margin-left: auto;
    margin-right: auto;
}

.dropdown select {
    font-family: IBM Plex Sans;
    font-size: 16px;
    color: #9B9B9B;
    background-color: transparent;
    width: 100%;
    border: none;
}
.form p {
    color: #9B9B9B;
    font-size: 14px;
    text-align: center;
}

.form .signup, .form .login {
    color: #AD4E35;
    font-weight: bold;
    text-decoration: none;
}

/*----buttons----*/

.btn {
    font-family: IBM Plex Sans;
    font-size: 16px;
    text-align: left;
    display: block;
    width: 100%;
    border-radius: 16px;
    border: none;
    padding: 15px 20px;
    color: #000000;
    background-color: #F5F5F5;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 3px 6px #B5B5B560;
    text-decoration: none;
}

.btn--primary {
    font-family: Karla;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #FDFDFD;
    background-color: #264F35;
}

.btn--light {
    background-color: #CAD3BD;
    color: #212C20;
}

.btn--dark {
    background-color: #304E37;
    color: #FDFDFD;
}

.btn--grey {
    background-color: #F5F5F5;
    color: #212C20;
}

.btn--red {
    background-color: #AD4E35;
    color: #FDFDFD;
}

.btn--toggle {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn img {
    max-height: 10px;
    padding-left: 10px;
}

.btn-link {
    text-decoration: none;
    color: #AD4E35;
    font-weight: bold;
}

/*----video----*/

iframe {
    max-width: 100%;
    height: 200px;
}

/*----startscherm----*/

.startscreen--margin {
    margin-top: 65px;
    margin-bottom: 60px;
}

/*----navigatiebalk----*/

.nav{
    display: flex;
    flex-direction: column;
}

.nav__flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.nav_flex_item {
    width: 25px;
}

.nav_flex_item:first-child {
    padding-top: 10px;
    width: 100px;
}

.nav_flex_item.cross {
    width:15px;    
}

.nav_flex_item.arrow {
    object-fit: contain;
    padding-top: 0px;
    width: 50px;
    height: 15px;
}

.arrow, .menu, .cross, .logo, #vooruitgang, .event, .eventsworkshops, .btn, .ruimte, .diybuy_flex_item, .back {
    cursor: pointer;
}

.event {
    background-color: #EDEDED;
    border: none;
    border-radius: 19px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 6px #B5B5B560;
}

/* .event img {
    max-width: 50px;
    position: absolute;
}

.event img:first-child {
    left: 55%;
    transform: rotate(70deg);
} */

/*----evenement-workshop-kader----*/

.event p {
    padding: 0px;
}

.event--date {
    font-family: Karla;
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 7px 10px 0px 10px;
    text-align: center;
    margin: 40px 0px 0px 15px;
    box-shadow: 0px 3px 6px #00000029; 
    position: relative;
    top: +15px;  
}

.event--date--number {
    font-size: 17px;
    color: #AD4E35;
    position: relative;
}

.event--date--month {
    font-size: 14px;
    color: #212C20;
    position: relative;
    top: -5px;
}

.event--image {
    height: 10px;
}
.event img {
    width: 180px;
    height: auto;
    position: relative;
    top: -80px;
    left: 100px;
    z-index: 1;
}

.event--info {
    display: flex;
    flex-direction: column;
    padding: 17px 15px 12px 15px;
    background-color: white;
    border-radius: 0px 0px 19px 19px;
}

.event--info--title {
    font-family: Karla;
    font-size: 18px;
    color: #212C20;
    padding-bottom: 0px;
}

p.event--info--text {
    font-family: IBM Plex Sans;
    font-size: 14px;
    color: #212C20;
}

p.event--info--time {
    font-family: IBM Plex Sans;
    font-size: 14px;
    color: #9B9B9B;
}

/* .event img {
    display: none;
} */

/*----stap-2-stappenplan----*/

.diybuy_flex {
    display: flex;
    flex-direction: row;
}

.diybuy_flex_item {
    flex: 50% 0 0;
    text-align: center;
    
}

.flex_item_image {
    background-color: #F5F5F5;
    margin: 7px;
    padding: 20px 5px;
    border-radius: 18px;
    box-shadow: 0px 3px 6px #00000029;
}

.diybuy_flex_item img {
    width: auto;
    height: 100px;
}

.flex_item_text p{
    color: #212C20;
    font-size: 14px;
}

/*----stap-4-lijst----*/

ul.benodigdheden {
    color: #9B9B9B;
    list-style: disc;
    list-style-position: inside;
    padding-bottom: 30px;
}

/*----stap-5-lijst----*/

ul.lijst-stap5 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    text-transform: uppercase;
    font-size: 14px;
}

.lijst-stap5 li {
    list-style: disc inside;
}

.lijst-stap5 li.groenten {
    color: #AD4E35;
}

.lijst-stap5 li.fruit {
    color: #E7822E;
}

.lijst-stap5 li.kruiden {
    color: #304E37;
}

.groenten_grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.grid_item {
    margin: 5px;
}

.grid_item-image {
    width: 100%;
    height: 70%;
    box-shadow: 0px 3px 6px #00000029;
    padding: 20px;
    border-radius: 18px;
}


.grid_item-text {
    text-align: center;
    font-size: 12px;
    padding: 0px;
}


/*----kalender----*/

.kalender {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-shadow: 0px 3px 6px #B5B5B560;
    padding: 15px 20px 15px 0px;
    border-radius: 19px;
    margin: 20px 0px;
}

.kalender_item {
    flex: 33.33% 0 0;
    text-align: center;
    text-transform: uppercase;
}

.kalender_item p:first-child {
    color: #212C20;
    font-size: 18px;
    padding-bottom: 0px;
}

.kalender_item p:last-child {
    font-size: 12px;
    padding-bottom: 0px;
}

/*----event-details----*/

.type {
    color: #212C20;
    font-size: 14px;
}

.detail {
    margin-bottom: 50px;
}

.detail_flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.detail_flex_item {
    margin: 5px;
}

.detail_flex_item p {
    color: #212C20;
    font-size: 14px;
    padding: 0;
}

.detail_flex_item:first-child {
    object-fit: contain;
    flex-grow: 0;
    width: 20px;
    color: #212C20;
}

.detail_flex_item:last-child {
    flex-grow: 3;
    margin: 1px;
    margin-left: 10px;
}

.detail_flex p:nth-child(2) {
    color: #9B9B9B;
}

/*----mobile-view----*/

@media (min-width: 376px) {
    body {
        width: 375px;
        margin-left: auto;
        margin-right: auto;
    }
}